ul.navbar {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 2em;
  left: 1em;
  width: 9em;
}

ul.navbar li {
  background: white;
  margin: 0.5em 0;
  padding: 0.3em;
  border-right: 1em solid black;
}

ul.navbar a {
  text-decoration: none;
}

h1 {
  font-family: Helvetica;
  color: blue;
  padding: 20px;
}

table {
  font-size: 45px;
  color: GREEN;
  border-color: YELLOW;
}

h2 {
  font-size: 30px;
  color: blue;
  text-align: left;
  background-color: yellow;
}

p {
  font-size: 35px;
  color: yellow;
  padding-left: 50px;
}

body {
  width: 1200px;
  margin: 0 auto;
  background-color: PURPLE;
  padding: 0 20px 20px 20px;
  text-align: center;
}