h1
{ font-size: 20px;
       color: blue;
background-color: black;
}

h2
{ font-size: 30px;
      color: green;
text-align:left;
background-color:yellow;
}

html{
  background-color:#00850F;
}