h1
{font-size:20px;
color:black
backgroud-color:pink;
}

h2
{font-size:30px;
     color:green;
text-align:left;
backgroud-color:black
}


h5
{font-size:30px;
     color:red;
text-align:left;
backgroud-color:black
}

html{
background-color;#00850F;
}

